# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TeXLive compilation artifacts
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz

# Local databases & uploads
*.sqlite
*.sqlite3
*.db
uploads/
temp/

# OS files
.DS_Store
Thumbs.db
